
@keyframes float{

0%{

transform:translateY(0px);

}

50%{

transform:translateY(-10px);

}

100%{

transform:translateY(0px);

}

}

.intro{

animation:float 5s ease infinite;

}
/* Zoom */

body.zoom canvas{

animation:zoomGalaxy 3s forwards;

}

@keyframes zoomGalaxy{

0%{

transform:scale(1);

filter:blur(0px);

}

100%{

transform:scale(8);

filter:blur(10px);

}

}
